{% if todo_list %}

    <ul>
        {% for todo in todo_list %}

            <li>
                <p>
                    {{ todo.task }}
                    <a href="{% url 'TODO:update' todo.id %}"> {% if todo.done %} Mark as Not Completed {% else %} Mark as Completed {% endif %}  </a>  
                    <a href="{% url 'TODO:delete' todo.id %}">Delete</a>
                </p>
            </li>

        {% endfor %}
    </ul>
{% else %}

<p>no TODO's are available.</p>

{% endif %}

<a href="{% url 'TODO:new'%}"> Add new TODO's</a>